<h1>Алгоритм обучения нейронной сети</h1>
<h3>Я выбирал из 3-х алгоритмов: Mask RCNN, Faster RCNN, YOLO</h3>
<p>Краткое описание каждого алгоритма:</p>
<br>
<li>Mask RCNN - данный алгоритм путем накладывания маски на изображение выделяет границы нужного объекта</li>
<p>Плюсы:</p>
<li>Данный алгоритм широко использовался до появления YOLO</li>
<li>Также я заметил, что именно Mask RCNN был задействован для детекции номеров машин</li>
<p>Минусы:</p>
<li>Как мне показалось он имеет метрики при обучение хуже, чем YOLO</li>
<br>
<li>Faster RCNN - данный алгоритм является разновидностью region based нейро сетей</li>
<p>Плюсы:</p>
<li>Имеет хорошие метрики по сравнению с остальными алгоритмами</li>
<p>Минусы:</p>
<li>Долгая обучаемость и тяжелая по нагрузки</li>
<li>Долгая работа самого алгоритма, нужны высокие вычислительные мощности, исходя из этого детекция занимет большее время, чем у остальных алоритмов. Исходя из этого: данный алгоритм плохо подходит для задач с необхоимостью быстрой детекции</li> 
<br>
<li>YOLO - данный алгоритм разбивает изображение на равные квадраты, образуя сетку и работает с каждой областью отдельно, позволяя за одну иттерацию пройти все изображение</li>
<p>Плюсы:</p>
<li>Данный алгоритм является лучшим на данный момент для детекции</li>
<li>Имеет тличное соотношение "время-качество"</li>
<li>Не такой тяжеловесный в обчение как Faster RCNN</li>
<li>Так как за одну иттерацию он проходит все изоюражение, то время детекции у него самое быстрое из всех представленных мной алгоритмов</li>
<p>Минусы:</p>
<li>Немного уступает метрикам при обучение у Faster RCNN</li>